.contact-us {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color:#18e85f; */
  padding: 7rem;
}

.contact-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e2f2e4;

    padding: 3rem;
    border-radius: 5rem;
    font-family: "Roboto", sans-serif;
}

.contact-container>h1{
    font-size: 48px;
    margin: 2rem 0;
}

.input{
  color: #3d3b3b;
  font-size: 26px;
  font-weight: 500;
}

.input>input{
    font-size: 20px;
    padding: 1rem;
    border:none;
    outline: none;
    margin: 1rem;
    border-radius: 1rem;
}

.input>textarea{
    outline: none;
    border-radius: 2rem;
    padding: 1rem;
    font-size: 20px;
    color: #3d3b3b;
    border: none;
}

.btn_submit{
    background-color: #18e85f;
    margin: 2rem;
    padding: 1rem 2rem;
    font-size: 20px;
    border-radius: 1rem;
    font-family: "Roboto", sans-serif;
     
    transition: all 0.3s;
    border: none;
    color: #3d3b3b;

}


.btn_submit:hover{
    background-color: #0c9138;
    color: white;
}

